<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js" integrity="sha512-hIlMpy2enepx9maXZF1gn0hsvPLerXoLHdb095CmRY5HG3bZfN7XPBZ14g+TUDH1aGgfLyPHmY9/zuU53smuMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="css/style.css" />
    <title>GPA Calculator</title>
  </head>
  <body>
    <div class="head">
      <img src="img/GP pics.png" class="pics" alt="my pics" >
      <h1><span class="typing"></span></h1>
    </div>
    <section>
      <div class="first">
        <h2>CGPA Calculator</h2>
        <p>
          CGPA Calculator is an innovative calculator to calculate the GPA and
          CGPA of students online. This is innovative calculator was created by
          Nwali Izuchukwu Hosea, a student of Software Engineering in FUTO. It's
          very wise as a student to calculate your GPA every semester to know
          your performance as a student.
        </p>
      </div>
      <div class="semester1Table">
        <h2><%= title %></h2>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course</th>
              <th scope="col">Credit</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
            <%for (let i = 0; i < newCourse.length ; i++) {%>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><p><%= newCourse[i] %></p></td>
              <td><%= newUnit[i] %></td>
              <td>
                <select name="grade" id="grade">
                  <option value="a">A</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="d">D</option>
                  <option value="e">E</option>
                  <option value="f">F</option>
                </select>
              </td>
            </tr>
            <%}%>
            <tr>
              <th scope="row">9</th>
              <td>
                <p>
                  <select name="language" id="language">
                    <option value="igb">IGB101</option>
                    <option value="frn">FRN101</option>
                  </select>
                </p>
              </td>
              <td>1</td>
              <td>
                <select name="grade" id="grades">
                  <option value="a">A</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="d">D</option>
                  <option value="e">E</option>
                  <option value="f">F</option>
                </select>
              </td>
            </tr>
            <%for (let j = 0; j < addedCourse.length ; j++) {%>
            <tr>
              <th scope="row"><%= j + 10 %></th>
              <td><p><%= addedCourse[j] %></p></td>
              <td><%= addedUnit[j] %></td>
              <td class="<%= j + 10 %>">
                <select name="grade" id="grade1">
                  <option value="a">A</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="d">D</option>
                  <option value="e">E</option>
                  <option value="f">F</option>
                </select>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>

        <form class="item" action="/" method="post">
          <input
            type="text"
            name="newCourse"
            placeholder="Type in Course"
            autocomplete="off"
            id="myInput"
            required
          />
          <input
            type="number"
            name="newUnit"
            placeholder="Course unit"
            autocomplete="off"
            required
          /> <br> <br>
          <button
            type="submit"
            name="listSubmit"
            class="btn btn-secondary"
            value=<%= title %>
            >
            <i class="fa-solid fa-plus"></i>Add Course
          </button>
        </form>
        <div class="item" >
           <button class="btn btn-secondary" id="calculateButton">Calculate</button> 
        <br>
        <h3 id="cgpa"></h3>
         
        <% if (title == "100L Semester 1") { %>
 <button class="btn btn-secondary"><a href="/semester2">Check next semester -></a></button>
 <%} else{ %>
  <button class="btn btn-secondary"><a href="/">Back</a></button>
<%} %>
 </div>
         </div>
    </section>
    <script >
    
document.addEventListener("DOMContentLoaded", function () {
  const calculateButton = document.getElementById("calculateButton");

  calculateButton.addEventListener("click", function () {
    
    const tableRows = document.querySelectorAll(".semester1Table tbody tr");

    let totalCreditUnits = 0;
    let totalGradePoints = 0;

    tableRows.forEach(function (row) {
      const credit = parseFloat(row.children[2].innerText);
      const grade = row.children[3].querySelector("select").value;

      let gradePoint;
      switch (grade) {
        case "a":
          gradePoint = 5.0;
          break;
        case "b":
          gradePoint = 4.0;
          break;
        case "c":
          gradePoint = 3.0;
          break;
        case "d":
          gradePoint = 2.0;
          break;
        case "e":
          gradePoint = 1.0;
          break;
        case "f":
          gradePoint = 0.0;
          break;
        default:
          gradePoint = 0.0;
      }

      totalCreditUnits += credit;
      totalGradePoints += credit * gradePoint;
    });

    const cgpa = totalGradePoints / totalCreditUnits;

    // Display the CGPA
    console.log(cgpa.toFixed(2));
    const cgpaDisplay = document.getElementById("cgpa");
    cgpaDisplay.textContent = "Your CGPA is: " + cgpa.toFixed(2);
    
  });
});
</script>
    <script>
      const inputField = document.getElementById("myInput");

      inputField.addEventListener("keyup", function (event) {
        event.preventDefault();
        inputField.value = inputField.value.toUpperCase();
      });
      const inputField2 = document.getElementById("myInput2");

      inputField2.addEventListener("keyup", function (event) {
        event.preventDefault();
        inputField2.value = inputField2.value.toUpperCase();
      });
    </script>
    <script>
      var typed = new Typed(".typing", {
        strings: ["Your're welcome !","CGPA Calculator", "Developed by Nwali Izuchukwu",], tyepSpeed: 100, backSpeed: 80, startDelay: 100, backDelay: 1500, loop: true,
      });
    </script>
        <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/036e1f8459.js"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
